.grid{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    gap: 2px;
    height: 90vh;
}
.section{
  font-size: 1.8em;
  font-weight: 400;

}
header, aside, article, footer{
    border-style: solid;
    font-size: 1em;
    text-align: center;
}
aside{
  background: #D3DEDC;    
}
article{
  background: #92A9BD;    
}
header, footer{
  grid-column: 1 / 4;
  background: #FFEFEF;    
}

body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #3f504e;
}
button{
    font-size: 1em;
}
img{
  height: 32px;
  width: 32px;
}
